
<div #scrollMe scrollable (scrollPosition)="scrollHandler($event)" style="height: 300px; width: 500px;border:2px gray solid; overflow:auto;" *ngIf="stateItems$ | async as items">
  <p class="no-more" *ngIf="isLastPage$ | async">
    No more records
  </p>
  <p fxLayout="row" fxLayoutAlign="start center" [matTooltip]="item.dateCreated?.toDate() | date:'short'" class="message" *ngFor="let item of items; trackBy: trackByUid">
    <span>
    {{ item.message }}
    </span>
    <button mat-icon-button (click)="deleteMessage(item)"><mat-icon>close</mat-icon></button>
  </p>
</div>
<div>
  <mat-form-field>
    <input matInput [(ngModel)]="message" type="text" />
  <button matSuffix (click)="sendMessage()" mat-icon-button><mat-icon>send</mat-icon></button>
  </mat-form-field>
</div>
<!-- <p fxLayout="row">
  <button [disabled]="pageNumber === 0" mat-raised-button (click)="previous()">
        Previous page
  </button>
  <button [disabled]="isLastPage$ | async" mat-raised-button (click)="next()">
    Next page
  </button>
</p> -->
